<h2>Olá {{ name }}</h2>

<p>Parece que você solicitou a recuração de senha, caso deseje prosseguir clique no link abaixo:</p>
<p><a href="{{ resetPasswordUrl }}" target="_blank">Resetar Senha</a></p>
<p>Se não foi você só ignora</p>
<p><strong>Divigula Distribuidora LTDA</strong></p>
